:root {
  --bg-dark: #1f2937;
  --primary: #f9faf8;
  --secondary: #e5e7eb;
  --btn-primary: #3882f6;
  --info: #1f2937;
  --section-bg: #e5e7eb;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto.ttf');
}

* {
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.top {
  position: fixed;
  bottom: 24px;
  right: 10%;
  width: 36px;
  height: 36px;
  border-radius: 18px;
  color: var(--primary);
  background-color: var(--btn-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

picture {
  width: 100px;
}

picture img {
  object-fit: cover;
  width: 100%;
}

.hero__main-text {
  font-size: 48px;
  font-weight: 800;
  color: var(--primary);
  text-wrap: balance;
}

.hero__secondary-text {
  font-size: 18px;
  color: var(--secondary);
}

.logo-text {
  font-size: 24px;
  color: var(--primary);
}

.header__info-text {
  font-size: 36px;
  font-weight: 800;
  color: var(--info);
}

.quote-bg {
  background-color: var(--secondary);
  padding: 1rem 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quote-text {
  font-size: 36px;
  /* max-width: 50%; */
  font-style: italic;
}

.quote-author {
  text-align: right;
  font-weight: 600;
  align-self: flex-end;
}

.hero-container {
  padding: 1rem 10%;
  background-color: var(--bg-dark);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  width: 400px;
  justify-content: space-between;
}

.navigation a {
  text-decoration: none;
  color: inherit;
}

.menu {
  display: none;
  width: 50px;
}

.menu img {
  object-fit: cover;
  width: 100%;
}

.main-hero {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 48px 0;
}

.main-hero article {
  flex: 1;
}

.main-hero article h1, .main-hero article p {
  margin-bottom: 2rem;
}

.main-hero picture {
  flex: 1;
}

.main-hero picture img{
  object-fit: cover;
  width: 100%;
}

.btn {
  background-color: var(--btn-primary);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 24px;
  color: var(--primary);
  font-size: 16px;
  outline: none;
  border: none;
  cursor: pointer;
}

.products-container {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 10%;
  margin-bottom: 96px;
}

.products-container span {
  display: flex;
  align-items: center;
  column-gap: 12px;
  color: var(--bg-dark);
}

.products-container h1 {
  font-size: 32px;
  text-transform: uppercase;
}

.products-container p {
  max-width: 50%;
  text-wrap: balance;
  text-align: center;
  margin: 36px 0;
}

.products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 16px;
}

.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 0.25;
}

.product-item img {
  object-fit: cover;
  width: 100%;
}

.end {
  align-self: flex-end;
}

.product-item h2 {
  padding: 24px 0;
}

.product-item button {
  width: 100%;
  background-color: var(--btn-primary);
  color: var(--primary);
  border-radius: 20px;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 14px 0;
}

.thin-line {
  width: 50px;
  height: 2px;
  background: var(--bg-dark);
  border: 0px;
  border-radius: 2px
}

.cta-container {
  padding: 1rem 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
}

.cta {
  width: 100%;
  background-color: var(--btn-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  color: var(--primary);
  padding: 4% 15%;
}

.cta div {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.cta .btn {
  background-color: transparent;
  border: 1px solid var(--primary);
}

footer {
  padding: 1rem 10%;
  background-color: var(--bg-dark);
  min-height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap ;
}

.footer-logo {
  max-width: 150px;
}

.footer-logo img {
  object-fit: cover;
  width: 100%;
}

.footer-links li, .footer-legal li{
  color: var(--primary);
  list-style: none;
  padding: 4px 0;
}

.footer-links a, .footer-legal a {
  color: inherit;
  text-decoration: none;
}

.footer-links h1, .footer-legal h1 {
  font-size: 20px;
  color: var(--primary);
  padding-bottom: 12px;
}

footer hr {
  flex-basis: 100%;
  height: 1px;
  border: 0;
  background-color: var(--primary);
  width: 100%;
}

footer span {
  color: var(--primary);
  margin-top: 16px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.product-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 16px;
}

.product-menu div {
  border: 1px solid var(--bg-dark);
  border-radius: 8px;
  min-height: 300px;
}

.product-menu picture {
  width: 400px;
}

.feature1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 10%;
  background-color: var(--bg-dark);
}

.feature1 picture {
  /* width: 400px; */
  flex: 1;
}

.feature1 div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.feature1 div h1 {
  text-align: right;
  color: var(--primary);
  font-size: 96px;
  text-wrap: balance;  
  margin-bottom: 16px;
}
.feature1 div p {
  text-align: right;
  color: var(--primary);
  font-size: 24px;
}

.feature1 div a {
  margin-top: 24px;
  text-align: right;
  color: var(--primary);
  text-decoration: none;
  border-radius: 12px;
  border: 1px solid var(--primary);
  max-width: 150px;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
}

.odd div a {
  margin-top: 24px;
  text-align: right;
  color: var(--bg-dark);
  text-decoration: none;
  border-radius: 12px;
  border: 1px solid var(--bg-dark);
  max-width: 150px;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
}

.odd {
  background-color: var(--primary);
}

.odd div h1, .odd div p {
  color: var(--bg-dark);
  text-align: left;
}


/* media query */

@media only screen and (max-width: 1280px) {
  .product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 0.25;
    align-self: flex-end;
  }

  .product-item h2 {
    font-size: 16px;
  }
}

@media only screen and (max-width: 900px) {
  .header-container nav {
    display: none;
  }

  .menu {
    display: block;
  }

  picture {
    width: 50px;
  }

  .main-hero {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding: 48px 0;
  }

  .main-hero picture {
    flex: 1;
    width: 100%;
  }

  .main-hero article {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .main-hero .btn {
    background-color: var(--btn-primary);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 48px;
    color: var(--primary);
    font-size: 16px;
    outline: none;
    border: none;
    cursor: pointer;
  }

  .cta-btn {
    background-color: transparent;
    border: 1px solid var(--primary);
    font-size: 12px;
  }

  .cta div {
    font-size: 12px;
  }

  .footer-logo {
    max-width: 90px;
  }

  .footer-links li, .footer-legal li {
    color: var(--primary);
    list-style: none;
    padding: 4px 0;
    font-size: 12px;
  }
}

@media only screen and (max-width: 700px) {
  .products-container h1 {
    font-size: 20px;
    text-transform: uppercase;
  }

  .products-container p {
    max-width: 50%;
    text-wrap: balance;
    text-align: center;
    margin: 36px 0;
    font-size: 12px;
  }

  .products {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 16px;
    flex-direction: column;
  }

  .product-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0.25;
    align-self: flex-end;
    max-width: 300px;
  }

  .quote-text {
    font-size: 20px;
    font-style: italic;
  }

  .quote-author {
    text-align: right;
    font-weight: 600;
    align-self: flex-end;
    font-size: 12px;
    padding-top: 12px;
  }

  .cta div {
    font-size: 10px;
  }

  .main-hero article h1, .main-hero article p {
    margin-bottom: 2rem;
    text-align: center;
  }
}

@media only screen and (max-width: 520px) {
  .thin-line {
    width: 20px;
    height: 2px;
    background: var(--bg-dark);
    border: 0px;
    border-radius: 2px;
  }

  .products-container h1 {
    font-size: 14px;
    text-transform: uppercase;
  }

  .product-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0.25;
    align-self: flex-end;
    max-width: 200px;
  }

  .cta div {
    font-size: 10px;
    padding-bottom: 12px;
  }

  .cta {
    width: 100%;
    background-color: var(--btn-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    color: var(--primary);
    padding: 4% 15%;
    flex-direction: column;
  }

  .footer-logo {
    max-width: 50px;
  }

  .quote-bg {
    background-color: var(--secondary);
    padding: 1rem 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-wrap: balance;
  }  

  .quote-author {
    text-align: center;
    font-weight: 600;
    align-self: center;
  }
}